﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a class="nav-link" asp-controller="DeliveryFact" asp-action="Index" asp-area="" id="news-menuitem">
    Заказы на выдачу литературы
</a>
<a class="nav-link" asp-controller="RecoveryFact" asp-action="Index" asp-area="" id="news-menuitem">
    Заказы на возврат литературы
</a>
<a class="nav-link" asp-controller="News" asp-action="Index" asp-area="" id="news-menuitem">
    Новости
</a>