﻿@page
@model SpbPublicLibsMvcCore.Pages.About.BuisnessProcess.ProcessDeliveryModel
@{
}
<h1> Процедура оформления сделок </h1>
<p> Под сделками подразумеается продажа, выдача во временное пользования продукции или предоставление доп. услуг по организаци производственного процесса. </p>
