﻿@page
@model SpbPublicLibsMvcCore.Pages.About.BuisnessProcess.ProcessStatisticsModel
@{
}
<h1> Процедура оформления сделок </h1>
<p> Под сделками подразумеается продажа, выдача во временное пользования продукции или предоставление доп. услуг по организаци производственного процесса. </p>
<h2> Сделки между читателем и библиотекой </h2>
<p> Читатель имеет возможность заключить сделку с библиотекой. </p>