<div class="list-group" >

  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start layout-pane-container"
     *ngFor="let message of model.results">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">
   
        <h5> {{ message.title }} </h5>
      </h5>
      <small class="text-muted">  {{ message.release_date }} </small>
    </div>

    
    <p>  {{ message.overview }} </p>
    
    <br>
    <div style="display: flex; flex-direction: row; width: 100%;">
      <small class="text-muted">  {{ message.popularity }} </small>
      <app-button style="justify-self: flex-end; margin-left: auto;"
                  (click)="onMovieClick( message )">
        checkout
      </app-button>
    </div>

  </a>
</div>

