﻿@*    
    Button
*@
@{
}
@model Mvc.ComponentControls.ControlSelect

 
<div class="form-group">
    <label for="exampleFormControlSelect1"> @Model.Label </label>
    <select class="form-control" onchange="@Model.Request("Select",new { option = "test" })">
        @foreach (string option in Model.Options)
        {
            <option>@option</option>
        }
    </select>
</div>
