﻿

@{
    ViewData["Title"] = "Главная страница";
}
@inject CoreApp.AppAPI.APIAuthorization authorization

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title> @ViewData["Title"] </title>

    <!-- Bootstrap core CSS -->
    <link href="~/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="pricing.css" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column flex-row p-3 px-md-4 mb-3 bg-white border-bottom box-shadow" style="width: 100%; align-items: flex-start;">
        <h5 class="my-0 mr-md-auto font-weight-normal text-center"> @ViewData["Brand"] @ViewData["Version"] </h5>
        <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">
            <a class="p-2 text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
            <a class="p-2 text-dark" asp-controller="Movies" asp-action="Index">Поиск фильмов</a>
            <a class="p-2 text-dark" asp-controller="Movies" asp-action="SeeMostPopularMovies" title="Популярность">Наиболее популярные</a>
            <a class="p-2 text-dark" asp-controller="Movies" asp-action="SeeNewestMovies" title="Newest templates">Новинки</a>
            <a class="p-2 text-dark" asp-controller="Movies" asp-action="SeeTopRatedMovies" title="Recently updated templates">ТОП рейтинг</a>

            @if (authorization.IsSignin() == false)
            {
                <div style="justify-self: flex-end; margin-left: auto;">
                    <a class="p-2 text-dark" asp-page="/Signin">Авторизация</a>
                    <a class="btn btn-outline-primary" asp-page="/Registration">Регистрация</a>
                </div>
            }
            else  
            {

                <div style="justify-self: flex-end; margin-left: auto;">
                    <a class="btn btn-outline-primary" asp-page="/Market/Home">Управление магазином</a>
                    <a class="p-2 text-dark"
                       asp-area=""
                       asp-controller="Profile"
                       asp-action="Index">
                        @authorization.Verify().Account.Email
                    </a>
                </div>
            }
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-sm-3" style="word-break: break-all;">
                <h2>Управление магазином</h2>
                <div class="nav flex-column nav-pills">
                    <a class="nav-link" asp-controller="MarketHome" asp-action="Index" asp-area="Market" id="v-pills-messages-tab">
                        О магазине
                    </a>
                    <a class="nav-link" asp-controller="Products" asp-action="Index" asp-area="Market" id="v-pills-messages-tab">
                        Товары
                    </a>
                    <a class="nav-link" asp-controller="Warehouses" asp-action="Index" asp-area="Market" id="v-pills-messages-tab">
                        Склады
                    </a>
                    <a class="nav-link" asp-controller="ProductCountInfoes" asp-action="Index" asp-area="Market" id="v-pills-settings-tab">
                        Комплектация
                    </a>
                    <a class="nav-link" asp-controller=" asp-action="Index" asp-area="Market" id="v-pills-settings-tab">
                        Продажи
                    </a>
                </div>
            </div>
            <div class="col-sm-9" style="word-break: break-all;">
                @RenderBody()
            </div>
        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-6 col-md">
                    <h5>Функциональность</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-page="/About/BuisnessProcess/ProcessDelivery">Выдача литературы</a></li>
                        <li><a class="text-muted" asp-page="/About/BuisnessProcess/ProcessStatistics">Статистистический анализ</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Пользователю</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-page="/About/Docs">Документация</a></li>
                        <li><a class="text-muted" asp-page="/About/Support">Тех. поддержка</a></li>

                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>О проекте</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" asp-page="/About/Contacts">Контактная информация</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)



</body>
</html> 