﻿ 
@model LibsMVC.Views.Account.LoginViewModel

<!-- Вспомогательные функции -->
<script>
    function setPlaceholderFor(propertyName) {
        document.getElementById(propertyName + "Input").placeholder =
            document.getElementById(propertyName + "Label").innerHTML;
    }
    function setValidationStateFor(propertyName, validationState) {

        document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
    }
</script>


<form asp-antiforgery="true">

    <h2> Авторизация пользователя </h2>
    <div class="validation" style="color: red;" asp-validation-summary="All"></div>


    <!-- Email -->
    <label asp-for="Email" id="EmailLabel"></label>
    <div class="input-group">
        <input asp-for="Email"
               class="form-control is-@Model.EmailValidationState"
               id="EmailInput">
        <script>setPlaceholderFor("Email");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div><br />

    <!-- Password -->
    <label asp-for="Password" id="PasswordLabel"></label>
    <div class="input-group">

        <input asp-for="Password"
               class="form-control is-@Model.PasswordValidationState"
               id="PasswordInput">
        <script>setPlaceholderFor("Password");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div><br />
    <div>
        <span class="text-danger"> @Model.ErrorMessage </span>
    </div><br />

    <button class="btn btn-primary" type="submit"> Зарегистрировать </button>
</form>



