﻿ 
@model LibsMVC.Views.Account.RegistrationViewModel 

<!-- Вспомогательные функции -->
<script>
    function setPlaceholderFor(propertyName) {
        document.getElementById(propertyName + "Input").placeholder =
            document.getElementById(propertyName + "Label").innerHTML;
    }
    function setValidationStateFor(propertyName, validationState) {

        document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
    }
</script>


<form asp-antiforgery="true">


    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4"> Регистрация учётной записи </h1>
        <p class="lead">Для входа в систему необходимо зарегистрировать учётную запись</p>
    </div>
    <div class="validation" style="color: red;" asp-validation-summary="All"></div>


    <!-- Email -->
    <label asp-for="Email" id="EmailLabel"></label>
    <div class="input-group">
        <input asp-for="Email"
               class="form-control is-@Model.EmailValidationState"
               id="EmailInput">
        <script>setPlaceholderFor("Email");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div><br />

    <!-- Password -->
    <label asp-for="Password" id="PasswordLabel"></label>
    <div class="input-group">

        <input asp-for="Password"
               class="form-control is-@Model.PasswordValidationState"
               id="PasswordInput">
        <script>setPlaceholderFor("Password");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div><br />

    <!-- Confirmation -->
    <label asp-for="Confirmation" id="ConfirmationLabel"></label>
    <div class="input-group">
        <input asp-for="Confirmation"
               class="form-control is-@Model.ConfirmationValidationState"
               id="ConfirmationInput">
        <script>setPlaceholderFor("Confirmation");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Confirmation"></span>
    </div><br />

    <!-- FirstName -->
    <label asp-for="FirstName" id="FirstNameLabel"></label>
    <div class="input-group">
        <input asp-for="FirstName"
               class="form-control is-@Model.FirstNameValidationState"
               id="FirstNameInput">
        <script>setPlaceholderFor("FirstName");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div><br />


    <!-- LastName -->
    <label asp-for="LastName" id="LastNameLabel"></label>
    <div class="input-group">
        <input asp-for="LastName"
               class="form-control is-@Model.LastNameValidationState"
               id="LastNameInput">
        <script>setPlaceholderFor("LastName");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div><br />


    <!-- SurName -->
    <label asp-for="SurName" id="SurNameLabel"></label>
    <div class="input-group">
        <input asp-for="SurName"
               class="form-control is-@Model.SurNameValidationState"
               id="SurNameInput">
        <script>setPlaceholderFor("SurName");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="SurName"></span>
    </div><br />


    <!-- Birthday -->
    <label asp-for="Birthday" id="BirthdayLabel"></label>
    <div class="input-group">
        <input asp-for="Birthday"
               class="form-control is-@Model.BirthdayValidationState"
               id="BirthdayInput">
        <script>setPlaceholderFor("Birthday");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Birthday"></span>
    </div><br />


    <!-- Birthday -->
    <label asp-for="Tel" id="TelLabel"></label>
    <div class="input-group">
        <input asp-for="Tel"
               type="text"
               class="form-control is-@Model.BirthdayValidationState"
               id="TelInput">
        <script>setPlaceholderFor("Tel");</script>
    </div>
    <div>
        <span class="text-danger" asp-validation-for="Tel"></span>
    </div><br />


    <button class="btn btn-primary" type="submit"> Зарегистрировать </button>
</form>


