<app-frame>
  <div class="frame-header">

    <app-search [options]="options" (input)="onInput($event)" (search)="onSearch($event)" #searchComponentRef></app-search>

  </div>
  <div class="container" style="height: 75%; width: 100%;">
    <div class="row">
      <div style="display: flex; flex-direction: row; flex-wrap: nowrap; width: 100%;">

        <app-selectbox [options]="lang.languages" (onChanged)="lang.onLanguageChanged($event)"></app-selectbox>

        <app-nav-menu style="justify-self: flex-end; margin-left: auto;"></app-nav-menu>

      </div>
      <div class="col-sm-9">
        <div class="container">
          <div>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="container">
          <div>
            <app-shared></app-shared>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-frame>
