﻿@page
@model SpbPublicLibsMvcCore.Pages.About.ContactsModel
@{
}

<h2> Констактная информация </h2>
<p>Для связи с группой разработки используйте следующие конткты: </p>
Разработчик приложения:

<p>eckumoc@gmail.com</p>