﻿@page
@model SpbPublicLibsMvcCore.Pages.PrivacyModel
@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<h1>@ViewData["Title"]</h1>
<p> 
  Любая зарегистрированная информация в данной системе остаётся внутри системы и влияет на состояние статистичких показателей 
    управляющих алгоритмами применяемыми внутри приложения.
</p>
