﻿@page
@model SpbPublicLibsSpaAngular.Pages.SupportModel
@{
}
<h1> Обратная связь </h1>

<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title"> Тема обращения </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <select style="width: 100%;">
                <option> Общие вопросы </option>
                <option> Баги </option>
                <option> Предложения </option>
            </select>
        </h6>
        <p class="card-text">
            <textarea  style="width: 100%; resize: none; height: 200px;"></textarea>
        </p>
        <a class="card-link" [routerLink]="['/'+link.path]">
            отправить
        </a>

    </div>
</div>
