<div class="card" style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"> {{ title }} </h5>
    <h6 class="card-subtitle mb-2 text-muted"> {{ subtitle }} </h6>
    <p class="card-text">  {{ text }} </p>
    <a class="card-link" [routerLink]="['/'+path]">
      {{ link }}
    </a>
  </div>
</div>
