<nav class="nav nav-pills nav-justified" style="display: flex;"
     [style.flexDirection]="vertical? 'column': 'row'">
  <a class="nav-link"
     style="margin: 3px;"
     [routerLinkActive]="['active']"
     *ngFor="let link of links"

      >{{ link.path }}</a>
</nav>
