﻿@model LibsDb.LibsEntities.Lib

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
  
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NameShort)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NameShort)
        </dd>      
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Url)
        </dd>
    </dl>
</div>
<div>
    <partial name="_Holders" model="Model.Holders" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
