﻿@model IEnumerable<LibsDb.LibsEntities.Lib>

@{
    ViewData["Title"] = "Библиотеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sigla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameShort)
            </th>

 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameShort)
                <div>
                    @Html.DisplayFor(modelItem => item.Url)
                </div>
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">Перейти</a>
            </td>
        </tr>
}
    </tbody>
</table>
