<div *ngIf="ready">
  <div class="fakeimg">
    temperature
  </div>
  <b> {{weather.current.temp}}% </b>
  <div *ngFor="let weather of weather.current.weather">
    <img [attr.src]="'http://openweathermap.org/img/wn/'+weather.icon.replace('n','d')+'@'+'2x.png'"/>
    <div style=" word-wrap: break-word;">{{ weather.description  }}</div>
  </div>
  <div *ngFor="let p of ">
    {{ p.description }}
  </div>
</div>
