﻿@*
  
*@
@{
}
@model SpbPublicLibsЬMVC.Mvc.ComponentControls.NavigationMenu

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Model._label</a>
</li>