﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Mvc.MvcComponent

@if (Model.parent != null)
{
    <partial name="@Model.GetView()" model="@Model" />
}
@foreach (var pair in Model.children)
{

    <div name="@pair.Key" id="@pair.Value.index">
        <partial name="_MvcComponent" model="@pair.Value" />
    </div>
}
@if (Model.parent != null)
{
    <script>
    (function () {
        var outletNode = document.getElementById("outlet-@Model.parent.id");
        if (outletNode) {
            setTimeout(function () {
                outletNode.appendChild(document.getElementById("@Model.id"));
            }, 33);
        }
    })();
    </script>

}
