﻿
@-webkit-keyframes chartjs-render-animation {
    from

{
    opacity: 0.99
}

to {
    opacity: 1
}

}

@keyframes chartjs-render-animation {
    from {
        opacity: 0.99
    }

    to {
        opacity: 1
    }
}

.chartjs-render-monitor {
    -webkit-animation: chartjs-render-animation 0.001s;
    animation: chartjs-render-animation 0.001s;
}
