.mat-dialog-panel .mat-dialog-container,.mat-dialog-container,.mat-dialog-container * {
  padding: 0;
}

.link-active{
  background-color: rgb(0, 123, 255);
  color: white;
}

.selected{
  background-color: rgb(0, 123, 255);
  color: white;
}
