﻿@model Mvc.Models.LoginViewModel

@{
    ViewData["Title"] = "Авторизация";
}


<!-- Вспомогательные функции -->
<script>
    function setPlaceholderFor(propertyName) {
        document.getElementById(propertyName + "Input").placeholder =
            document.getElementById(propertyName + "Label").innerHTML;
    }
    function setValidationStateFor(propertyName, validationState) {

        document.getElementById(propertyName + "Input").classList.add("is-" + validationState);
    }
</script>


<div class="row">
    <div class="col-md-12">
        <form asp-action="Login">

            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4"> Авторизация пользователя </h1>
                <p class="lead">Приложите читатльский билет на считывающее устройство, либо 
                    введите данные зарегистрированной учетной записи</p>
            </div>
            <div class="validation" style="color: red;" asp-validation-summary="All"></div>

            <!-- Email -->
            <label asp-for="Email" id="EmailLabel"></label>
            <div class="input-group">
                <input asp-for="Email"
                       class="form-control is-@Model.EmailValidationState"
                       id="EmailInput">
                <script>setPlaceholderFor("Email");</script>
            </div>
            <div>
                <span class="text-danger" asp-validation-for="Email"></span>
            </div><br />

            <!-- Password -->
            <label asp-for="Password" id="PasswordLabel"></label>
            <div class="input-group">

                <input asp-for="Password"
                       class="form-control is-@Model.PasswordValidationState"
                       id="PasswordInput">
                <script>setPlaceholderFor("Password");</script>
            </div>
            <div>
                <span class="text-danger" asp-validation-for="Password"></span>
            </div><br />
            <div>
                <span class="text-danger"> @Model.ErrorMessage </span>
            </div><br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="вход" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
