﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="list-group">
    @foreach (var item in Model.News)
    {
        <a href="@item.Href" class="list-group-item list-group-item-action flex-column align-items-start layout-pane-container">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">

                    <h5>  @item.Title </h5>
                </h5>
                <small class="text-muted"> @item.Time.Date </small>
            </div>


            <p>  @item.Description</p>

            <br>
            <div style="display: flex; flex-direction: row; width: 100%;">
                <small class="text-muted">    </small>
                <button style="justify-self: flex-end; margin-left: auto;"
                        (click)="onMovieClick( message )">
                    checkout
                </button>
            </div>

        </a>
    }

</div>