<header  >
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">

      <!-- progress animation -->
      <div *ngIf="app.progress">
        <div *ngIf="app.marker=='primary'" class="spinner-border text-primary" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='secondary'" class="spinner-border text-secondary" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='success'" class="spinner-border text-success" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='danger'" class="spinner-border text-danger" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='warning'" class="spinner-border text-warning" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='info'" class="spinner-border text-info" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='light'" class="spinner-border text-light" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
        <div *ngIf="app.marker=='dark'" class="spinner-border text-dark" role="status">
          <span class="sr-only">{{ app.status }}</span>
        </div>
      </div>



      <a class="navbar-brand" [routerLink]="['/']" style="margin-left: 20px;">
        <!-- SpbPublicLibsSPA -->
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >

        <ul class="navbar-nav flex-grow">

            <li *ngFor="let route of getRoutes()"
              class="nav-item"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }" >
              <a class="nav-link" [routerLink]="['/'+route.path]">
                <b>{{route.path}}</b>
              </a>
            </li>


        </ul>
      </div>
    </div>
  </nav>
</header>
