﻿


@{
    ViewData["Title"] = "Продукт | Создание";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}
@model MvcMarketPlace.Data.Entities.Product

@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Select File:</span>
    <input type="file" name="postedFile" />
    <hr />
    <input type="submit" value="Upload" />
    <br />
    <span style="color:green">@ViewBag.Message</span>
}
<h1>Создать</h1>

<h4>Продукт</h4>
<hr />
<div class="row">
    <div class="col-md-4">
                
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <input type="hidden" asp-for="PhotoID" id="inputPhooID">
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>

                <button style="width: 100%; height: 280px; background-image: url('https://localhost:44347/api/Resource/Use')"
                        id="buttonImageOfPhoto"
                        onclick="event.preventDefault(); document.getElementById('inputResource').click();">
                    <script>
                        function doUpload() {
                            console.log('doUpload');
                            const allFiles = document.getElementById("inputResource").files;
                            if (allFiles.length == 0) {
                                alert("Не выбрано ни одного файла");
                            } else {
                                console.log('upload begin');
                                var uploadResponse = upload(allFiles.item(0), 'Продукт', 'image/png');
                                console.log('upload end');
                                var response = JSON.parse(uploadResponse);
                                document.getElementById("inputPhooID").value = response.id;
                                document.getElementById("buttonImageOfPhoto").style.backgroundImage = $"URL(/api/Resource/Use/" + response.id + ")";
                                console.log(uploadResponse);
                            }
                        }
                        function upload(file, name, mime) {
                            var request = new XMLHttpRequest();
                            request.open('POST', 'https://localhost:44347/api/Resource/Create', false);
                            request.setRequestHeader("Resource-Name", name);
                            request.setRequestHeader("Mime-Type", mime);
                            request.setRequestHeader("Content-Type", "multipart/form-data");
                            request.send(file);
                            return request.responseText;
                        }
                    </script>
                </button>
                <input type="file" id="inputResource" hidden onchange="
                        function doUpload() {
                            console.log('doUpload');
                            const allFiles = document.getElementById('inputResource').files;
                            if (allFiles.length == 0) {
                                alert('Не выбрано ни одного файла');
                            } else {
                                console.log('upload begin');
                                var uploadResponse = upload(allFiles.item(0), 'Product', 'image/png');
                                console.log('upload end');
                                var response = JSON.parse(uploadResponse);
                                document.getElementById('inputPhooID').value = response.id;
                                document.getElementById('buttonImageOfPhoto').style.backgroundImage = 'URL(/api/Resource/Use/' + response.id + ')';
                                console.log(uploadResponse);
                            }
                        }
                        function upload(file, name, mime) {
                            var request = new XMLHttpRequest();
                            request.open('POST', 'https://localhost:44347/api/Resource/Create', false);
                            request.setRequestHeader('Resource-Name', name);
                            request.setRequestHeader('Mime-Type', mime);
                            request.setRequestHeader('Content-Type', 'multipart/form-data');
                            request.send(file);
                            return request.responseText;
                        }
                        doUpload();
    ">
            </div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

