
<div style="width: 100%;">
  <div class="frame-header"> Order </div>
  <table class='table table-striped' aria-labelledby="tableLabel" style="padding-right: 20px;  width: 100%;" >
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of service.products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="modal.popup()" class="btn btn-primary"> checkout </button>
  <app-modal #modal>
    <h2 class="top"> Order checkout </h2>
    <table class='table table-striped' aria-labelledby="tableLabel" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of service.products">
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="submit(modal)" class="btn btn-primary"> submit </button>

  </app-modal>

</div>
