﻿@model MvcMarketPlace.Data.Entities.ProductCategory

@{
    ViewData["Title"] = "Подробности классификации продукции";
    Layout = "~/Views/Shared/_TemplatePricing.cshtml";
}

<h1>Подробно</h1>

<div>
    <h4>Классификация продукции</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentCategory.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
