﻿@model MvcMarketPlace.Data.Entities.ProductCategory

@{
    ViewData["Title"] = "Редактирование классификации продукции";
    Layout = "~/Views/Shared/_TemplatePricing.cshtml";
}

<h1>Редактирование</h1>

<h4>Классификация продукции</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentCategoryID" class="control-label"></label>
                <select asp-for="ParentCategoryID" class="form-control" asp-items="ViewBag.ParentCategoryID"></select>
                <span asp-validation-for="ParentCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

