<div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
  <app-pagination [size]="10" [len]="model.total_results" (set-page)="setPage($event)"></app-pagination>
  <app-frame *ngFor="let movie of model.results"
      style="max-width: 360px; display: flex; flex-direction: column; margin: 10px; margin-bottom: 30px; display: inline-block;"
      [ngClass]="{ '': movie['focused'], '': movie['focused'] }"
      (mouseover)="movie.focused=true" (mouseout)="movie.focused=false">

    <h5 class="card-title frame-header" style="display: flex; flex-direction: row; flex-wrap: nowrap; width: max-content; vertical-align: bottom;">
      {{ movie.release_date.substr(0,4) }} &nbsp; &nbsp; &nbsp;{{ movie.title }}

    </h5>
    <img class="card-img-top"
        style="max-height: 420px;"
        [attr.src]="'https://image.tmdb.org/t/p/w200'+movie.poster_path+'?api_key=72b56103e43843412a992a8d64bf96e9'"
        alt="Card image cap" >

    <div class="card-body">
      <div class="card-text"> {{ movie.overview }} </div>
      <small class="text-muted">{{ movie.popularity }}</small>
      <div style="display: flex; flex-direction: row; width: 100%;">

        <app-button style="justify-self: flex-end; margin-left: auto;"
                    (click)="onMovieClick(movie)">
          checkout
        </app-button>
      </div>
    </div>
  </app-frame>

</div>
