 
select,button, .btn, btn {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: var(--dark-color);
  color: var(--light-color);
}


.btn:hover, btn:hover {
  opacity: 0.8;
  font-weight: normal;
}

.btn:disabled, btn:disabled {
  opacity: 0.5;
  cursor: auto;
}

 
.btn i.material-icons {  
  padding-right: 4px;
}

.btn-p{
  color: var(--dark-primary-color);
  background-color: var(--dark-primary-color);
}

 