#app-logo{
    animation-duration: .5s;
    animation-name:     slidein;
}
@keyframes slidein {
    from {
        background-color: white;
        width: 0px; height: 0px;
    }
    to {
        background-color: black;
        width: 100%;
        height: 100%;
    }
}