.main-axis-end{
  justify-content: flex-end;
}
.main-axis-start{
  justify-content: flex-start;
}
.flex-start{
  align-self: flex-start;
  margin-right: auto;
}
.flex-end{
  justify-self: flex-end;
  margin-left: auto;
} 

/** выравнивание по концу поперечной оси **/
.cross-align-end{
  align-items: flex-end;      
  justify-content: flex-end;
}


.flex-inline-pane {
  display: -webkit-inline-flex;
  display: inline-flex; 
}
.flex-pane {
  display: -webkit-flex;
  display: flex; 
}
.flex-items > *{
  flex: 1;
}


.flex-column-auto{
  display: flex; 
  flex-direction: column; 
  flex-wrap: nowrap;
}
.flex-column-auto > *{
  flex: 1;
}
.flex-row-auto{
  display: flex; flex-direction: row; flex-wrap: nowrap;
}
.flex-row-auto > *{
  flex: 1;
}

 

/** box **/
.flex-column{
  display: flex; 
  flex-direction: column; 
  flex-wrap: nowrap;
  align-items: baseline;
}
.flex-row{ 
  display: flex; 
  flex-direction: row; 
  flex-wrap: nowrap; 
}
.flex-row > *{
  display: flex;
} 
.main-axis-end{
  justify-content: flex-end;
}
.main-axis-start{
  justify-content: flex-start;
}
 


/**
 * выравнивание в контейнере flexbox
 */
.flex-inline-row{
  align-items: end;
  justify-content: center;
}
.flex-row-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-column-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;  
}
.flex-row-warp-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column-wrap-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;  
}
.flex-row-reverse-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.flex-column-reverse-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.flex-row-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-column-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: column;
  flex-wrap: nowrap;
}
.flex-row-reverse-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}
.flex-column-reverse-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}
.flex-row-wrap-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column-wrap-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-row-reverse-wrap-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.flex-column-reverse-wrap-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.flex-row-wrap-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-column-wrap-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-row-reverse-wrap-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.flex-column-reverse-wrap-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: column-reverse;
  flex-wrap: wrap;
}
.flex-row-wrap-reverse-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.flex-column-wrap-reverse-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
.flex-row-reverse-wrap-reverse-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.flex-column-reverse-wrap-reverse-pane{
  display: -webkit-flex; 
  display: flex; 
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}
.flex-row-wrap-reverse-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: row;
  flex-wrap: wrap-reverse;
}
.flex-column-wrap-reverse-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
.flex-row-reverse-wrap-reverse-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}
.flex-column-reverse-wrap-reverse-inline-pane{
  display: -webkit-inline-flex;
  display: inline-flex; 
  flex-direction: column-reverse;
  flex-wrap: wrap-reverse;
}
