*{
    font-family: 'Quicksand';    
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing:     border-box;
    padding:        0px;
    margin:         0px;        
}
html, body{
    position:       fixed;
    width:          100%;
    height:         100%;        
    box-sizing:     border-box;
    padding:        0px;
    margin:         0px;  
    overflow-y:     hidden; 
    overflow-x:     hidden;
}