﻿@model MvcMarketPlace.Data.Entities.Warehouse

@{
    ViewData["Title"] = "Склад | Создание";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Создать</h1>

<h4>Склад</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
