﻿@model MvcMarketPlace.Data.Entities.Warehouse

@{
    ViewData["Title"] = "Склад | Удаление";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить</h3>
<div>
    <h4>Склад</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
