﻿@model MvcMarketPlace.Data.Entities.Warehouse

@{
    ViewData["Title"] = "Склад | Подробно";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Подробно</h1>

<div>
    <h4>Склад</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
