﻿@model IEnumerable<MvcMarketPlace.Data.Entities.Warehouse>

@{
    ViewData["Title"] = "Склады";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Складские помещения</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать </a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"> Удалить </a>
            </td>
        </tr>
}
    </tbody>
</table>
