﻿@{
    ViewData["Title"] = "Главная страница";
}
@inject CoreApp.AppAPI.APIAuthorization authorization

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Sign into your account | WrapBootstrap</title>

    <meta name="description" content="">
    <!--
    <link rel="alternate" type="application/rss+xml" title="WrapBootstrap" href="http://feeds.feedburner.com/wrapbootstrap">
    <link rel="stylesheet" type="text/css" media="screen" href="//d85wutc1n854v.cloudfront.net/live/css/screen_legacy.css?c=1603283512">
    <script src="//d85wutc1n854v.cloudfront.net/live/js/behavior_legacy.js?c=1603283512"></script>
        -->
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="shortcut icon" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon.ico?v=1">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//d85wutc1n854v.cloudfront.net/live/imgs/apple-touch-icon-152x152.png">

    <link rel="icon" type="image/png" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="//d85wutc1n854v.cloudfront.net/live/imgs/favicon-128.png" sizes="128x128">
    <link rel="stylesheet" href="~/bootstrap.min.css">
    <link rel="stylesheet" href="~/shared_templates/marketplace.css">

    <meta name="application-name" content="WrapBootstrap">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-150x150.png">
    <meta name="msapplication-square310x310logo" content="//d85wutc1n854v.cloudfront.net/live/imgs/mstile-310x310.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>

    <div id="main">

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="/" title="Bootstrap Templates and Themes from WrapBootstrap">
                        <img src="//d85wutc1n854v.cloudfront.net/live/imgs/logo-v2-legacy.png"
                             width="180" height="28"
                             alt="EcKuMoC"
                             title="Bootstrap Templates and Themes from WrapBootstrap">
                    </a>
                    <ul class="nav" style="margin-left: 25px;">

                        <li><a asp-action="SeeMostPopularMovies" title="Popular templates">Popular</a></li>
                        <li><a asp-action="SeeNewestMovies" title="Newest templates">Newest</a></li>
                        <li><a asp-action="SeeTopRatedMovies" title="Recently updated templates">Updated</a></li>
                    </ul>
                    <ul class="nav secondary-nav">
                        @if (authorization.IsSignin() == false)
                        {
                            <li class="active"><a asp-page="/Signin"><span style="padding-left: 17px; background: transparent url('//d85wutc1n854v.cloudfront.net/live/imgs/lock_icon.png') no-repeat 0px center;">Sign in</span></a></li>
                            <li><a asp-page="/Registration">Sign up</a></li>

                        }
                        else
                        {
                            <a class="p-2 text-dark" asp-page="/Profile/Person">@authorization.Verify().Account.Email / Личный кабинет</a>
                        }

                    </ul>
                </div>
                <div class="container">

                </div>
            </div>
        </div>
        <div id="menu">
            <div class="container">
                <div id="topics" class="header-nav-menu">
                    <div class="dropdown_button"><a href="#" title="Select a topic">Topics</a></div>
                    <div class="dropdown_container">
                        <ul>
                            <li><a href="/topic/templates/general" title="General Templates">General <span class="count">251</span></a></li>
                            <li><a href="/topic/templates/design-creative-services" title="Design &amp; Creative Services Templates">Design &amp; Creative Services <span class="count">168</span></a></li>
                            <li><a href="/topic/templates/business-corporate" title="Business &amp; Corporate Templates">Business &amp; Corporate <span class="count">104</span></a></li>
                            <li><a href="/topic/templates/retail-shopping" title="Retail &amp; Shopping Templates">Retail &amp; Shopping <span class="count">34</span></a></li>
                            <li><a href="/topic/templates/apps-software" title="Apps &amp; Software Templates">Apps &amp; Software <span class="count">28</span></a></li>
                            <li><a href="/topic/templates/startups-saas" title="Startup &amp; SaaS Templates">Startups &amp; SaaS <span class="count">24</span></a></li>
                            <li><a href="/topic/templates/marketing-conversion" title="Marketing &amp; Conversion Templates">Marketing &amp; Conversion <span class="count">23</span></a></li>
                            <li><a href="/topic/templates/restaurants-cafes" title="Restaurant &amp; Cafe Templates">Restaurants &amp; Cafes <span class="count">16</span></a></li>
                            <li><a href="/topic/templates/education-learning" title="Education &amp; Learning Templates">Education &amp; Learning <span class="count">13</span></a></li>
                            <li><a href="/topic/templates/weddings" title="Wedding Templates">Weddings <span class="count">10</span></a></li>
                            <li><a href="/topic/templates/real-estate-mortgage" title="Real Estate &amp; Mortgage Templates">Real Estate &amp; Mortgage <span class="count">8</span></a></li>
                            <li><a href="/topic/templates/construction-architecture" title="Construction &amp; Architecture Templates">Construction &amp; Architecture <span class="count">7</span></a></li>
                            <li><a href="/topic/templates/entertainment-media" title="Entertainment &amp; Media Templates">Entertainment &amp; Media <span class="count">7</span></a></li>
                            <li><a href="/topic/templates/events-conferences" title="Event &amp; Conference Templates">Events &amp; Conferences <span class="count">6</span></a></li>
                            <li><a href="/topic/templates/jobs-hiring" title="Jobs &amp; Hiring Templates">Jobs &amp; Hiring <span class="count">6</span></a></li>
                            <li><a href="/topic/templates/medical-healthcare" title="Medical &amp; Healthcare Templates">Medical &amp; Healthcare <span class="count">6</span></a></li>
                            <li><a href="/topic/templates/travel-hotels" title="Travel &amp; Hotel Templates">Travel &amp; Hotels <span class="count">6</span></a></li>
                            <li><a href="/topic/templates/non-profit-charity" title="Non-Profit &amp; Charity Templates">Non-Profit &amp; Charity <span class="count">5</span></a></li>
                            <li><a href="/topic/templates/beauty-fashion" title="Beauty &amp; Fashion Templates">Beauty &amp; Fashion <span class="count">4</span></a></li>
                            <li><a href="/topic/templates/fitness-physical-training" title="Fitness &amp; Physical Training Templates">Fitness &amp; Physical Training <span class="count">4</span></a></li>
                            <li><a href="/topic/templates/food-beverages" title="Food &amp; Beverage Templates">Food &amp; Beverages <span class="count">4</span></a></li>
                            <li><a href="/topic/templates/web-hosting" title="Web Hosting Templates">Web Hosting <span class="count">4</span></a></li>
                            <li><a href="/topic/templates/art-photography" title="Art &amp; Photography Templates">Art &amp; Photography <span class="count">3</span></a></li>
                            <li><a href="/topic/templates/attorneys-law-firms" title="Attorney &amp; Law Firm Templates">Attorneys &amp; Law Firms <span class="count">3</span></a></li>
                            <li><a href="/topic/templates/music-bands" title="Music &amp; Band Templates">Music &amp; Bands <span class="count">3</span></a></li>
                            <li><a href="/topic/templates/furniture-interior-design" title="Furniture &amp; Interior Design Templates">Furniture &amp; Interior Design <span class="count">2</span></a></li>
                            <li><a href="/topic/templates/pets-animals" title="Pet &amp; Animal Templates">Pets &amp; Animals <span class="count">2</span></a></li>
                            <li><a href="/topic/templates/video-games" title="Video Game Templates">Video Games <span class="count">2</span></a></li>
                            <li><a href="/topic/templates/aviation-marine" title="Aviation &amp; Marine Templates">Aviation &amp; Marine <span class="count">1</span></a></li>
                            <li><a href="/topic/templates/cleaning-services" title="Cleaning Services Templates">Cleaning Services <span class="count">1</span></a></li>
                        </ul>
                        <div class="full-list"><a href="/topics" title="See all topics">See all topics &rarr;</a></div>
                    </div>
                </div>
                <div id="categories" class="header-nav-menu">
                    <div class="dropdown_button"><a href="#" title="Select a category">Categories</a></div>
                    <div class="dropdown_container">
                        <ul>
                            <li><a href="/category/templates/admin-templates" title="Admin Templates &amp; Dashboards">Admin Templates <span class="count">162</span></a></li>
                            <li><a href="/category/templates/multipurpose-templates" title="Multipurpose Templates">Multipurpose Templates <span class="count">166</span></a></li>
                            <li><a href="/category/templates/landing-page-templates" title="Landing Page Templates">Landing Pages <span class="count">151</span></a></li>
                            <li><a href="/category/templates/portfolio-resume-templates" title="Portfolio Templates &amp; Resumes">Portfolios &amp; Resumes <span class="count">106</span></a></li>
                            <li><a href="/category/templates/ecommerce-templates" title="Ecommerce Templates">Ecommerce <span class="count">37</span></a></li>
                            <li><a href="/category/templates/blog-magazine-templates" title="Blog Templates &amp; Magazines">Blogs &amp; Magazines <span class="count">28</span></a></li>
                            <li><a href="/category/templates/directories-listings" title="Directories &amp; Listings">Directories &amp; Listings <span class="count">21</span></a></li>
                            <li><a href="/category/templates/ui-kits-website-builders" title="UI Kits &amp; Website Builders">UI Kits &amp; Website Builders <span class="count">10</span></a></li>
                            <li><a href="/category/templates/other" title="Other Templates">Other Templates <span class="count">77</span></a></li>
                        </ul>
                    </div>
                </div>
                <div id="search">
                    <form action="/search" method="get">
                        <input class="query" name="q" type="text" placeholder="Enter search keywords" size="29" value=""><input class="submit button" type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
        @RenderBody()


        <div class="push"></div>
    </div>
    <div id="footer">
        <div class="container">
            <footer>
                <p>
                    <a href="/support" title="Buyer and seller support"><b>Support</b></a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="http://support.wrapbootstrap.com/help" title="Knowledge base" target="_blank" rel="noopener"><b>Knowledge base</b></a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="https://support.wrapbootstrap.com/help/refund-policy" target="_blank" rel="noopener">Refund policy</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="/sell" title="Sell your Bootstrap themes and templates">Start selling</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="/affiliates" title="Affiliates">Affiliates</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="/privacy" title="Privacy policy">Privacy</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="/terms" title="Terms of use">Terms</a>&nbsp;&nbsp;&middot;&nbsp;&nbsp;<a href="/about" title="About us">About</a> <span class="pull-right">&copy; 2020 <a href="http://wrapmarket.com/" title="Wrapmarket LLC" target="_blank" rel="noopener">Wrapmarket LLC</a></span>
                </p>
            </footer>
        </div>
    </div>
    <div id="subscribe_dialog">
        <div class="shell">
            <div class="topbar"><a class="close" href="#">Close</a></div>
            <div class="inner"></div>
        </div>
    </div>
    <div id="mask"></div>
    <!--<script>
        $(document).ready(function () {
            $("img.lazy.item-cover").jail({ placeholder: "//d85wutc1n854v.cloudfront.net/live/imgs/placeholder.gif" });
            $("img.lazy.user-profile-image").jail({ placeholder: "//d85wutc1n854v.cloudfront.net/live/imgs/no-picture-small.jpg" });
            $(".alert-message").alert();
        });
    </script>-->
</body>
</html>
