﻿@*
    Button
*@
@{
}
@model Mvc.API.TreeNode


<div class="nav flex-column nav-pills" style="margin-left: 20px;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <div class="form-check mb-2" style="display: flex; flex-direction: row; flex-wrap: nowrap; word-break: keep-all;">
        @if (Model.Expanded == false)
        {
            <a onclick="@Model.Request("toggleExpanded",null)" style="margin-right: 5px;">
                +
            </a>
        }
        else
        {
            <a onclick="@Model.Request("toggleExpanded",null)" style="margin-right: 5px;">
                -
            </a>
        }
        <input class="form-check-input"
               type="checkbox"
               onchange="@Model.Request("toggleSelected",null)"
               id="autoSizingCheck">
        <label class="form-check-label"
               for="autoSizingCheck" contenteditable="@Model.Editable">
            @Model.GetName()
        </label>
        @Model.Selected.ToString()
    </div>

    @if (Model.Expanded == true)
    {
        @foreach (var pair in Model.GetChildren())
        {
            <partial name="_TreeNode" model="@pair.Value" />
        }
    }
</div>

 