﻿@page
@model ApplicationMVC.Pages.PublishModel

@{
    ViewData["Title"] = "Publish";
    Layout = "~/Views/Shared/_TemplatePricing.cshtml";
}

<h1>Publish</h1>

<h4>News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="News.Title" class="control-label"></label>
                <input asp-for="News.Title" class="form-control" />
                <span asp-validation-for="News.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Time" class="control-label"></label>
                <input asp-for="News.Time" class="form-control" />
                <span asp-validation-for="News.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Image" class="control-label"></label>
                <input asp-for="News.Image" class="form-control" />
                <span asp-validation-for="News.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Href" class="control-label"></label>
                <input asp-for="News.Href" class="form-control" />
                <span asp-validation-for="News.Href" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="News.Description" class="control-label"></label>
                <textarea asp-for="News.Description" class="form-control"></textarea>
                <span asp-validation-for="News.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
