﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>О прииложении</h2>
<p>
    Приложение предназначено для реализации функций книговыдачи в городской библиотеки
</p>