﻿@model MvcMarketPlace.Data.Entities.SaleFacts

@{
    ViewData["Title"] = "Факт продажи | Создание";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Факт продажи</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubdivisionID" class="control-label"></label>
                <select asp-for="SubdivisionID" class ="form-control" asp-items="ViewBag.SubdivisionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Common" class="control-label"></label>
                <input asp-for="Common" class="form-control" />
                <span asp-validation-for="Common" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferId" class="control-label"></label>
                <select asp-for="TransferId" class ="form-control" asp-items="ViewBag.TransferId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
