﻿@model MvcMarketPlace.Data.Entities.SaleFacts

@{
    ViewData["Title"] = "Факт продажи | Удаление";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы действительно хотите удалить факт продажи?</h3>
<div>
    <h4>Факт продажи</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subdivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subdivision.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Common)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Common)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transfer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transfer.ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
