﻿@model IEnumerable<MvcMarketPlace.Data.Entities.SaleFacts>

@{
    ViewData["Title"] = "Факты продажи";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Факты продажи</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subdivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Common)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subdivision.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Common)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transfer.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать </a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"> Удалить </a>
            </td>
        </tr>
}
    </tbody>
</table>
