<div class="form-check mb-2">
  <input class="form-check-input"
         type="checkbox"
         (change)="onChange( $event )"
         id="autoSizingCheck">
  <label class="form-check-label"
         for="autoSizingCheck">
    {{ label }}
  </label>
</div>
