﻿
@model MvcMarketPlace.Data.Entities.Market

@{
    ViewData["Title"] = "Магазин | Редактирование";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}
 
<h4>О магазине </h4>
<hr />
<div class="row">

    <div class="col-md-8">
        <form asp-action="Edit" asp-controller="Markets">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="LogoID" class="form-control" id="inputLogoID" hidden/>
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-4">



        <!-- UPLOAD FORM -->
        <div onclick="inputResource.click()" style="width: 320px; height: 320px;">
            <img id="photoImage" style="width: 100%; height: 100%;" />
            <input type="file" id="inputResource" style="display: none;" onchange="document.getElementById('doUploadButton').click()">
            <button id="doUploadButton" onclick="doUpload()" hidden> upload </button>
            <button onclick="refresh()" hidden> refresh </button>
            <div style="width: 200px; height: 200px;">

                <script>
                    function doUpload() {

                        const allFiles = document.getElementById("inputResource").files;
                        if (allFiles.length == 0) {
                            alert("Не выбрано ни одного файла");
                        } else {
                            var uploadResponse = upload(allFiles.item(0), 'img1', 'image/png');
                            document.getElementById('photoImage').src = 'https://localhost:44347/api/Resource/Use/' + uploadResponse.id;
                            document.getElementById('inputLogoID').value = uploadResponse.id;
                            
                            console.log(uploadResponse);
                        }
                    }
                    function upload(file, name, mime) {
                        var request = new XMLHttpRequest();
                        request.open('POST', 'https://localhost:44347/api/Resource/Create', false);
                        request.setRequestHeader("Resource-Name", name);
                        request.setRequestHeader("Mime-Type", mime);
                        request.setRequestHeader("Content-Type", "multipart/form-data");
                        request.send(file);
                        return JSON.parse(request.responseText);
                    }
                </script>
            </div> 
        </div>

    </div>
</div>

 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
