﻿@model IEnumerable<MvcMarketPlace.Data.Entities.Market>

@{
    ViewData["Title"] = "Магазины";
}
  


@if (Model != null)
{

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
        @foreach (var item in Model)
        {
            <div style="max-width: 360px; display: flex; flex-direction: column; margin: 10px; margin-bottom: 30px; display: inline-block;">

                <h5 class="card-title frame-header" style="display: flex; flex-direction: row; flex-wrap: nowrap; width: max-content; vertical-align: bottom;">
                    @item.Name

                </h5>
                @if (item.Logo != null)
                {

                    <img class="card-img-top"
                         id="@item.Logo.ID"
                         style="max-height: 420px;"
                         src="~/api/Resource/Use/@item.LogoID"
                         alt="Card image cap">
                }

                <div class="card-body">

                    <div class="card-text"> </div>
                    <small class="text-muted">@item.Description</small>
                    <div style="display: flex; flex-direction: row; width: 100%;">

                        <a class="btn btn-primary" style="justify-self: flex-end; margin-left: auto;"
                           asp-action="Details" asp-route-id="@item.ID">
                            взять
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

}


