﻿@{
    ViewData["Title"] = "Просмотр товаров";
}
@model EcKuMoC.Models.Home.ProductsViewModel









<div class="container">
    <div class="row">
        <div class="col-sm-9" style="word-break: break-all;">
            <h2>Результат отбора</h2>
        </div>
        <div class="col-sm-3" style="word-break: break-all;">
            <h2>Категории</h2>
            <partial name="_TreeNode" model="@Model.categories" />
           
        </div>
    </div>

     
</div>





