﻿@{
    ViewData["Title"] = "Просмотр товаров";
}
@model EcKuMoC.Models.Home.ProductsViewModel









<div class="container">
    <div class="row">
        <div class="col-sm-9" style="word-break: break-all;">
            <h2>Результат отбора</h2>
            <div class="list-group">

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    @foreach (var message in Model.news)
                    {
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">

                            @message.Title
                        </h5>
                        <small class="text-muted">  @message.Time </small>
                    </div>


                    <p>  @message.Description </p>

                    <br>
                    <div style="display: flex; flex-direction: row; width: 100%;">
                        <small class="text-muted">   123 </small>
                        <button style="justify-self: flex-end; margin-left: auto;"
                                    (click)="onMovieClick( message )">
                            подробнее
                        </button>
                    </div>
                    }
                </a>
            </div>


        </div>
        <div class="col-sm-3  layout-pane-container" style="word-break: break-all;">
            <h2>Категории</h2>
            <partial name="_TreeNode" model="@Model.categories" />
           
        </div>
    </div>

     
</div>





