﻿@{
    ViewData["Title"] = "Просмотр товаров";
}
@model EcKuMoC.Models.Home.ProductsViewModel

<div class="text-center">
    <h1 class="display-4">
        Поиск по каталогу:
        <partial name="_TreeNode" model="@Model.categories" />
    </h1>
</div>



@if (Model != null)
{

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
        @foreach (var item in Model.products)
        {
            <div style="max-width: 360px; display: flex; flex-direction: column; margin: 10px; margin-bottom: 30px; display: inline-block;">

                <h5 class="card-title frame-header" style="display: flex; flex-direction: row; flex-wrap: nowrap; width: max-content; vertical-align: bottom;">
                    @item.Name

                </h5>
                @if (item.Photo != null)
                {

                    <img class="card-img-top"
                         id="@item.Photo.ID"
                         style="max-height: 420px;"
                         src="~/api/Resource/Use"
                         alt="Card image cap">
                }

                <div class="card-body">

                    <div class="card-text"> </div>
                    <small class="text-muted">@item.Description</small>
                    <div style="display: flex; flex-direction: row; width: 100%;">

                        <a class="btn btn-primary" style="justify-self: flex-end; margin-left: auto;"
                           asp-action="Details" asp-route-id="@item.ID">
                            взять
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>

}


