﻿@{
    ViewData["Title"] = "Продукция";
}
@model IEnumerable<MvcMarketPlace.Data.Entities.Product>

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
</div>



<!-- UPLOAD FORM -->
<div>

    
    <button onclick="doUpload()"> upload </button>
    <button onclick="refresh()"> refresh </button>
    <button style="width: 200px; height: 200px; background-image: url('https://localhost:44347/api/Resource/Use')">
        <input type="file" id="inputResource" style="display: none;">
        <script>
            function doUpload() {

                const allFiles = document.getElementById("inputResource").files;
                if (allFiles.length == 0) {
                    alert("Не выбрано ни одного файла");
                } else {

                    var uploadResponse = upload(allFiles.item(0), 'img1', 'image/png');

                    console.log(uploadResponse);
                }
            }
            function upload(file, name, mime) {
                var request = new XMLHttpRequest();
                request.open('POST', 'https://localhost:44347/api/Resource/Create', false);
                request.setRequestHeader("Resource-Name", name);
                request.setRequestHeader("Mime-Type", mime);
                request.setRequestHeader("Content-Type", "multipart/form-data");
                request.send(file);
                return request.responseText;
            }
        </script>
    </button>    

    

    <!-- list resource ids -->
    <script>
        
        function get(url) {
            var req = new XMLHttpRequest();
            req.open('get', url, false);
            req.send();
            return JSON.parse(req.responseText);
        }
        function refresh() {
            var listResp = get('/api/Resource/List');
            if (listResp && listResp.data) {
                for (let i = 0; i < listResp.data.length; i++) {
                    console.log(listResp.data[i]);
                }
            }
        }
    </script>
</div>


















 
 

@if (Model != null)
{

    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 100%;">
    @foreach (var item in Model)
    {
        <div style="max-width: 360px; display: flex; flex-direction: column; margin: 10px; margin-bottom: 30px; display: inline-block;">

            <h5 class="card-title frame-header" style="display: flex; flex-direction: row; flex-wrap: nowrap; width: max-content; vertical-align: bottom;">
                @item.Name

            </h5>
            @if (item.Photo != null)
            {

                <img class="card-img-top"
                     id="@item.Photo.ID"
                     style="max-height: 420px;"
                     src="~/api/Resource/Use"
                     alt="Card image cap">
            }

            <div class="card-body">

                <div class="card-text"> </div>
                <small class="text-muted">@item.Description</small>
                <div style="display: flex; flex-direction: row; width: 100%;">

                    <a class="btn btn-primary" style="justify-self: flex-end; margin-left: auto;"
                       asp-action="Details" asp-route-id="@item.ID">
                        взять
                    </a>
                </div>
            </div>
        </div>
    }
    </div>

}


