﻿
@inject ApplicationCore.CRUD.CRUDProtocol crud
<div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <a class="nav-link active" data-toggle="pill"></a>
    <a class="nav-link" data-toggle="pill"></a>

    @foreach (var p in crud.repositories)
    {

        @if (crud.Entity == p.Key)
        {


        }
        else
        {

        }


    }
</div>