﻿@inject CoreApp.AppAPI.APIAuthorization authorization

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibsMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="d-flex flex-column flex-row p-3 px-md-4 mb-3 bg-white border-bottom box-shadow" style="width: 100%; align-items: flex-start;">
        <h5 class="my-0 mr-md-auto font-weight-normal text-center">  </h5>
        <div style="width: 100%; display: flex; flex-direction: row; flex-wrap: nowrap;">

            <a class="nav-link"
               asp-controller="Liters"
               asp-action="Index"
               id="news-menuitem">
                Литература
            </a>
            <a class="nav-link" asp-controller="Libs" asp-action="Index" asp-area="" id="news-menuitem">
                Библиотеки
            </a>
            @if (!authorization.IsSignin())
            {
                <div style="justify-self: flex-end; margin-left: auto;">
                    <a class="p-2 text-dark" asp-controller="Account" asp-action="Login">Авторизация</a>
                    <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Registration">Регистрация</a>
                </div>
            }
            else if (authorization.Verify() != null)
            {

                <div style="justify-self: flex-end; margin-left: auto;">
                    <a class="nav-link" asp-controller="User" asp-action="Index" asp-area="" id="news-menuitem">
                        @authorization.Verify().Account.Email
                    </a>
                    <partial name="_Menu_@authorization.Verify().Role.Code" />

                </div>
            }
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12" style="word-break: break-all;">
            @RenderBody()
        </div>
    </div>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
