﻿@model IEnumerable<LibsDb.LibsEntities.Liter>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
           
           
            <td>
              
                <a asp-action="Details" asp-route-id="@item.ID">Добавить к заказу</a> 
       
            </td>
        </tr>
        }
    </tbody>
</table>
