﻿<a class="nav-link" asp-controller="Book" asp-action="Index" asp-area="" id="news-menuitem">
    Книги
</a>
<a class="nav-link" asp-controller="Holder" asp-action="Index" asp-area="" id="news-menuitem">
    Пункты выдачи
</a>