﻿<a class="nav-link" asp-controller="DeliveryFact" asp-action="Index" asp-area="" id="news-menuitem">
    Заказы на выдачу литературы
</a>
<a class="nav-link" asp-controller="RecoveryFact" asp-action="Index" asp-area="" id="news-menuitem">
    Заказы на возврат литературы
</a>