﻿@model IEnumerable<MvcMarketPlace.Data.Entities.ProductCountInfo>

@{
    ViewData["Title"] = "Комплектации";
    Layout = "~/Areas/Market/Views/Shared/_Layout.cshtml";
}

<h1>Комплектации</h1>

<p>
    <a asp-action="Create"> Добавить </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warehouse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warehouse.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Редактировать </a> |
                <a asp-action="Details" asp-route-id="@item.ID">Подробно</a> |
                <a asp-action="Delete" asp-route-id="@item.ID"> Удалить </a>
            </td>
        </tr>
}
    </tbody>
</table>
