﻿@model LibsDb.LibsEntities.Holder

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление места выдачи</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Holder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lib)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lib.ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Возврат к списку</a>
    </form>
</div>
