<div style="padding: 10px; ">
  <div align="center"><p>{{ value }}% {{ state }} {{ name }}</p></div>
  <div class="progress">
    <div class="progress-bar"
         role="progressbar"
         [style.width]="value+'%'">
    </div>
  </div>
</div>
