/* Theme for the ripple elements.*/
/* stylelint-disable material/no-prefixes */
/* stylelint-enable */
/* Define the palettes for your theme using the Material Design palettes available in palette.scss */
/* (imported above). For each palette, you can optionally specify a default, lighter, and darker */
/* hue. Available color palettes: https:/*material.io/design/color/ */
/* The warn palette is optional (defaults to red). */
/*
$mat-indigo
$mat-pink
$mat-red
$mat-purple
$mat-deep-purple
$mat-blue
$mat-light-blue
$mat-cyan
$mat-teal
$mat-green
$mat-light-green
$mat-lime
$mat-yellow
$mat-amber
$mat-orange
$mat-deep-orange
$mat-brown
$mat-grey
$mat-blue-grey
*/
/* Create the theme object (a Sass map containing all of the palettes). */
/* Include theme styles for core and each component used in your app. */
/* Alternatively, you can import and @include the theme mixins for each component */
/* that you are using. */
/*
  default
    lighter
    darker
    text

default-contrast
lighter-contrast
darker-contrast
*/

/* 2. Colors */
/* /* Define a mixin that accepts a theme and outputs the theme-specific styles. */
@mixin candy-carousel-theme( $theme ){

    $primary: map-get( $theme, primary );
    $accent:  map-get( $theme, accent );
  
    /* Define any styles affected by the theme. */
    button {
  
      /* Use mat-color to extract individual colors from a palette. */
      background-color: mat-color($primary);
      border-color:     mat-color($accent, A400);
  
    }
}