/* @import './../../../../node_modules/@angular/material/theming'; */

/* Create a config with the default typography levels. */
$config: mat-typography-config();

/* 1. Typography */
$custom-typography: mat-typography-config(
    $font-family: 'Roboto, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(32px, 24px, 500)
);

/* Custom header that uses only the Material `font-size` and `font-family`. */
.unicorn-header {
  font-size:    mat-font-size($config, headline);
  font-family:  mat-font-family($config);
}
  
/* Custom title that uses all of the typography styles from the `title` level. */
.unicorn-title {
  @include mat-typography-level-to-styles($config, title);
}

/* Override typography CSS classes (e.g., mat-h1, mat-display-1, mat-typography, etc.). */
@include mat-base-typography($custom-typography);

/* Override typography for a specific Angular Material components. */
/* Override typography for all Angular Material, including mat-base-typography and all components. */
@include angular-material-typography($custom-typography);

@mixin candy-carousel-typography( $config ){
    .candy-carousel {
      font: {
        family: mat-font-family($config, body-1);
        size:   mat-font-size($config, body-1);
        weight: mat-font-weight($config, body-1);
      }
    }
}

@include mat-base-typography($custom-typography);
