<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let column of columns">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let column of columns">{{row[column]}}</td>
    </tr>
  </tbody>
</table>
